#wrapper {
  display: flex;
}

#sidebar-wrapper {
  min-height: 100vh;
}

.sidebar-heading {
  padding: 15px;
  font-size: 1.5rem;
  color: #333;
}

.list-group-item {
  padding: 10px 15px;
}

/* Ocultar sidebar en pantallas pequeñas */
@media (max-width: 767.98px) {
  #sidebar-wrapper {
    display: none; /* Oculta el sidebar en pantallas pequeñas */
  }
}
@media (min-width: 767.98px) {
  #menu-toggle {
    display: none; /* Oculta el sidebar en pantallas pequeñas */
  }
}
